$primary_light: "#EFF7E7";
$primary_main: "#9CCC65";
$primary_dark: "#6B9B37";
$secondary_light: "#B2FEF7";
$secondary_main: "#80CBC4";
$secondary_dark: "#4F9A94";

.logo {
  width: 8em;
  padding: 1em;
}

.calendar {
  height: 65vh !important;
  margin: 2em;
}