$primary_light: "#EFF7E7";
$primary_main: "#9CCC65";
$primary_dark: "#6B9B37";
$secondary_light: "#B2FEF7";
$secondary_main: "#80CBC4";
$secondary_dark: "#4F9A94";

.logo {
  width: 8em;
  padding: 1em;
}

.hero {
  background-image: url("../assets/volunteers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 92vh;
  width: 100%;
  position: absolute;
}

.info {
  min-height: 50vh;
  background-color: rgba($color: #eee, $alpha: 0.6);
  text-align: center;
  padding: 25px;
  margin: 10% 15% 0% 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  h1 {
    font-weight: bold;
  }

  .btn {
    margin: 0 25%;
    padding: 10px;
    font-size: 1.5em;
  }
}

.calendar {
  height: 65vh !important;
  margin: 2em;
}